:root {
    --main-font: "Montserrat", sans-serif;
    --main-color: #FF6060;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
}


body{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    
    
    
}

#root{
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
}



.home, .about, .logements, .errorHTTP{
   flex: 1;
   margin: 0px 60px;
   
}

a {
    cursor: pointer;
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, a, p, button, .dropdown-content{
    font-family: var(--main-font);
}



@media screen and (min-device-width : 768px) and (max-width: 1280px){
    #root{
        gap: 20px;
    }
    .home, .about, .logements, .errorHTTP{
        margin: 0px 20px;
        
     }
}

@media screen and (max-width : 320px) {
    #root{
        gap: 15px;
    }
    .home, .about, .logements, .errorHTTP{
        margin: 0px 10px;
        
     }
}

