:root{
    --border-radius-elements: 20px;
}

.home{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    
     .gallery{
            display: flex;
            justify-content: center;
            margin: auto;
            flex-wrap: wrap;
            
           
            padding: 50px;
            gap: 50px 50px;
            background: #F6F6F6;
            width: 100%;
            border-radius: var(--border-radius-elements);
    }
    
    
}