.logements{
    display: flex;
    flex-direction: column;
    gap: 50px;
    .logements-content{
        display: flex;
        flex-direction: column;
        gap: 25px;
        .description, .info-box {
            display: flex;
            justify-content: space-between;
        }
        .description{
            .logement-box{
                display: flex;
                flex-direction: column;
                gap: 5px;
            h1{
              color: var(--main-color);  
              font-size: 36px;
              font-weight: 500;
              
            }
            p{
                font-size: 18px;
                font-weight: 500;
            }
            }  
        }
        .info-box{
            .tags{
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }
            .rating-mobile{
                width: 100%;
                .host-box-mobile{
                    display: none;
                }
            }
            
        }
        .dropdown-box{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 50px;
            width: 100%;
        }
    }
}


@media screen and (max-width : 768px){
    .logements{
        gap: 10px;
        .logements-content{
            .description{
                .logement-box{
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
            .info-box{
                gap: 15px;
                flex-direction: column;
                .rating-mobile{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                } 
            }    
            .dropdown-box{
                gap: 20px;
            }
    }
}
@media screen and (max-width : 500px){
    .logements{
        .logements-content{
            .description{
                .host-box{
                    display: none;
                }
            }
            .info-box{
                .rating-mobile{
                    align-items: end;
                    .host-box-mobile{
                        display: flex;
                    }
                }
            }
        }
    }
}
@media screen and (max-width : 320px){
    .logements{
        gap: 10px;
        .logements-content{
            gap: 15px;
            .description{
                .logement-box{ 
                    h1{
                        font-size: 15px;
                    }
                    p{
                        font-size: 12px;
                    }
                }  
            }
            .info-box{
                .rating-mobile{
                    .host-box-mobile{
                        display: flex;
                        height: 50px;
                    }
                }
            }
            .dropdown-box{
                flex-direction: column;
                gap: 15px;
            }
            }
        }
    }
}
