.host{
    display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
                height: 64px;
                p{
                    text-align: right;
                    line-height: 20px;
                    color: var(--main-color);
                    font-weight: 500;
                    font-size: 18px;
                    height: 40px;
                    width: 90px;
                }
                img{
                    display: block;
                    border-radius: 50%;
                    height: 64px;
                    margin-right: 10px;
                }
}
@media screen and (max-width : 320px){
    .host{
        width: 100px;
        p{
            font-size: 13px;

        }
        img{
            height: 50px;
        }                
    }
}
