.rating{
    display: flex;
    gap: 10px;
    .fa-star{
        font-size: 24px;
    }
    .fullStars{
        color: var(--main-color);
        
    }
    .emptyStars{
        color: #E3E3E3;
    }
}

@media screen and (max-width : 500px){
    .rating{
        gap: 3px;
        .fa-star{
            font-size: 20px;
        }
    }
}