.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    width: 115px;
    height: 25px;
    border-radius: 10px;
    .tag-name{
        display: block;
        color: white;
        font-weight: 500;
        font-size: 12px;
       
    }
}


@media screen and (max-width : 320px){
    .tag{
        width: 65px;
        height: 15px;
        border-radius: 5px;
        .tag-name{
            font-size: 9px;
        }
    }
}