.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 60px 0px 60px;
    
    nav{
        ul{
            display: flex;
            a{
              color: black;
              text-decoration: none;
              &.underline{
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 2px;
              }
            }
            li{
                font-size: 1.2rem;
                margin-left: 50px;
                list-style: none;
                
            }
        }
    }
    

}